{% extends "blog/base.html" %}
{% load static %}

{% block title %}Symptoms{% endblock %}

{% block content %}
<h1>Symptoms</h1>

<h1 class="text-center fs-10">EWILLIS</h1>
<form id="symptomForms" action="{% url 'symptoms' %}" method="POST">
    {% csrf_token %}
    <!-- Step indicators -->
    <div class="form-header d-flex mb-6">
        <span class="stepIndicator">Body System:</span>
        <span class="stepIndicator">Severity:</span>
    </div>

    <!-- Step one -->
    <div class="step">
        <p class="text-center mb-6">Possible Ailments:</p>
        <div class="mb-3">
            <label for="cardiovascular"><strong>Cardiovascular</strong></label>
            <select class="form-control mt-3" multiple id="cardiovascularSelect" name="cardiovascular_symptoms">
                <option value="Chest pain">Chest pain</option>
                <option value="Palpitations">Palpitations</option>
                <option value="Shortness of breath">Shortness of breath</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="respiratory"><strong>Respiratory</strong></label>
            <select class="form-control mt-3" multiple id="respiratorySelect" name="respiratory_symptoms">
                <option value="Cough">Cough</option>
                <option value="Wheezing">Wheezing</option>
                <option value="Difficulty breathing">Difficulty breathing</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="gastrointestinal"><strong>Gastrointestinal</strong></label>
            <select class="form-control mt-3" multiple id="gastrointestinalSelect" name="gastrointestinal_symptoms">
                <option value="Abdominal Pain">Abdominal Pain</option>
                <option value="Nausea">Nausea</option>
                <option value="Vomiting">Vomiting</option>
                <option value="Diarrhea">Diarrhea</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="neurological"> <strong>Neurological</strong></label>
            <select class="form-control mt-3" multiple id="neurologicalSelect" name="neurological_symptoms">
                <option value="Headache">Headache</option>
                <option value="Dizziness">Dizziness</option>
                <option value="Seizures">Seizures</option>
                <option value="Weakness">Weakness</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="musculoskeletal"><strong>Musculoskeletal</strong></label>
            <select class="form-control mt-3" multiple id="musculoskeletalSelect" name="musculoskeletal_symptoms">
                <option value="Joint Pain">Joint Pain</option>
                <option value="Muscle Pain">Muscle Pain</option>
                <option value="Back Pain">Back Pain</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="dermatological"><strong>Dermatological</strong></label>
            <select class="form-control mt-3" multiple id="dermatologicalSelect" name="dermatological_symptoms">
                <option value="Rashes">Rashes</option>
                <option value="Itching">Itching</option>
                <option value="Swelling">Swelling</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="psychiatric"><strong>Psychiatric</strong></label>
            <select class="form-control mt-3" multiple id="psychiatricSelect" name="psychiatric_symptoms">
                <option value="Anxiety">Anxiety</option>
                <option value="Depression">Depression</option>
                <option value="Confusion">Confusion</option>
            </select>
        </div>
    </div>

    <!-- Step two -->
    <div class="step">
        <p class="text-center mb-4">Severity:</p>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Mild" name="severity_mild">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Moderate" name="severity_moderate">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Severe" name="severity_severe">
        </div>
    </div>

    <!-- Previous / Next buttons -->
    <div class="form-footer d-flex">
        <button type="button" class="btn btn-primary" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" class="btn btn-primary" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
</form>
{% endblock content %}

{% block extra_css %}
<!-- Additional CSS files if needed -->
{% endblock extra_css %}

{% block extra_script %}
<!-- Additional JS scripts if needed -->

{% endblock extra_script %}
